---
 //siempre debe estar dentro de un elemento absolute
---

<>
    <span class="absolute tracking-[4px] text-theme-gray-light text-xs">
        <slot/>
    </span>

    <div class="absolute w-[1px] self-end h-11/12 bg-theme-gray-light"></div>

    
</>
    