---
import SectionIndex from "./SectionIndex.astro";
import SectionTitle from "./SectionTitle.astro";


---

<SectionIndex style="flex-col justify-start h-[624px]">
    <SectionTitle>
        contact-us
    </SectionTitle>

    <div class="prose">
        <h3 class=" text-theme-gray dark:text-theme-gray-light">
            Let us show you how our work can make a difference!
        </h3>
    
        <form class="grid grid-cols-2 gap-y-10 text-theme-gray-light">
            <input type="text" class="border-b w-fit py-2 border-b-theme-primary-blue" type="text" placeholder="enter your name">
            <input type="email" class="border-b w-fit justify-self-end border-b-theme-primary-blue" type="text" placeholder="enter your email address">
            <input type=""  class="border-b py-2 col-span-2 border-b-theme-primary-blue" type="text" placeholder="let’s talk!">
        </form>
    </div>

</SectionIndex>