---
import OptionSelector from "@components/OptionSelector.jsx";
import SectionIndex from "@components/SectionIndex.astro";

const DESCRIPTIONS = [
    {
        dataId : '0',
        paragraphs: [
        'We are a <strong class="text-theme-dark-blue">Full Stack development</strong> team specializing in creating robust and <strong class="text-theme-dark-blue">dynamic solutions</strong>',

        'From <strong class="text-theme-dark-blue">e-commerce platforms</strong> to <strong class="text-theme-dark-blue">administrative dashboards</strong> and <strong class="text-theme-dark-blue">web applications</strong>. Our focus is on delivering exceptional <strong class="text-theme-dark-blue">user experiences</strong>, strong <strong class="text-theme-dark-blue">optimized performance</strong>, and <strong class="text-theme-dark-blue">lightning-fast </strong>responsiveness.',

        'We transform ideas into scalable, efficient, and <strong class="text-theme-dark-blue">impactful digital products</strong>.',

        'We transform ideas into scalable, efficient, and <strong class="text-theme-dark-blue">impactful digital products</strong>.',
        ],
        style: ' '
        
        
    }
    ,
    {
        dataId : '1',
        paragraphs: [
            'We provide <strong class = "text-theme-dark-blue">end-to-end web development services</strong>, covering everything from page design using Figma to meticulous documentation.',

            'Our process emphasizes <strong class = "text-theme-dark-blue">close collaboration with clients</strong>, incorporating their <strong class = "text-theme-dark-blue">feedback</strong> at every stage through regular <strong class = "text-theme-dark-blue">updates and progress meetings.</strong> ',

            'With a focus on <strong class = "text-theme-dark-blue">professionalism and precision</strong>, we deliver tailored solutions that exceed expectations.',

        ],
        style: 'hidden'
        
    },

    
]
---


<SectionIndex>
    
        <!-- no me convence el min-h-720px -->
        
        <article class="max-w-md prose flex flex-col justify-center">
        <h2 class="inline-block mb-20">
            <span class="text-theme-gray-light">/</span>
            <span class="text-theme-gray">tech-stack</span>
        </h2>
        
        <OptionSelector options={DESCRIPTIONS} toManage={"description"}  client:only/>
        {
            DESCRIPTIONS.map((description)=>(
                <div data-id={`description-${description.dataId}`} class:list={`min-h-[400px] max-h-[400px] mt-2 overflow-auto ${description.style}`}>
                    {
                        description.paragraphs?.map((paragraph)=>(
                            <p>
                                <span set:html={paragraph} />
                            </p>
                        ))
                    }
                </div>
            ))
        }
        
       </article>
   
</SectionIndex>

