---
import Logotype from '@icons/logotype.astro'
import LogoShape from '@icons/shape-logo.astro'
import Search from '@icons/search.svg'
import FoLogo from '@icons/FoLogo.svg'
import { Autocompleter } from './Autocompleter'
---

<header id="header" class="sticky z-20 top-0 w-full flex items-center justify-between text-sm pt-5 bg-theme-coal-black/80 backdrop-blur-sm">
    
    <a href="/" class="rounded-md overflow-hidden size-9 bg-theme-primary-blue">
        <FoLogo/>
    </a>

    <Autocompleter client:load/>

</header>



