---
import SectionIndex from '@components/SectionIndex.astro';
import Description from './Description.astro';
import webPortolio from '@images/web-portfolio.webp'



---

    <div id="hero">
        <SectionIndex style="text-theme-gray dark:text-theme-gray-light flex flex-col gap-3 py-10">
            <div class="flex gap-5 items-end">
                <div class="size-full flex justify-center items-center">
                    <picture class="rounded-lg overflow-hidden size-30 self-center justify-self-center">
                        <img src={webPortolio.src} class="p size-full aspect-square object-cover" alt="">
                    </picture>
                </div>
                <div class="flex flex-col min-w-96 gap-4 font-normal">
                    <div class="w-fit py-2 pl-2 pr-3 h-6 flex gap-2 items-center overflow-hidden bg-[#2A2A2A] rounded-full">
                        <div class="aspect-square flex rounded-full items-center justify-center bg-theme-gray/90 h-4">
                            <div class="bg-green-600 size-2 animate-pulse rounded-full"></div>
                        </div>
                        
                        <h1 class="grow text-sm dark:text-theme-gray-light">
                            Availible to work
                        </h1>
                    </div>
                    <h1 class="text-4xl dark:text-theme-light">
                        Fabian Ortiz
                    </h1>
                    <div class="h-7">
                        <div class="hidden flex occupation text-lg">
                            <span class="occ-letter opacity-0">F</span>
                            <span class="occ-letter opacity-0">u</span>
                            <span class="occ-letter opacity-0">l</span>
                            <span class="occ-letter opacity-0">l</span>
                            <span class="occ-letter opacity-0">s</span>
                            <span class="occ-letter opacity-0">t</span>
                            <span class="occ-letter opacity-0">a</span>
                            <span class="occ-letter opacity-0">c</span>
                            <span class="occ-letter opacity-0">k</span>
                            <div class="w-2 h-full"></div>
                            <span class="occ-letter opacity-0">D</span>
                            <span class="occ-letter opacity-0">e</span>
                            <span class="occ-letter opacity-0">v</span>
                            <span class="occ-letter opacity-0">e</span>
                            <span class="occ-letter opacity-0">l</span>
                            <span class="occ-letter opacity-0">o</span>
                            <span class="occ-letter opacity-0">p</span>
                            <span class="occ-letter opacity-0">e</span>
                            <span class="occ-letter opacity-0">r</span>
                            <span class="occ-letter opacity-0">.</span>
                            <span class="occ-letter opacity-0 animate-ping">|</span>
                        </div> 
                        <div class="hidden flex occupation text-lg">
                            <span class="occ-letter opacity-0">S</span>
                            <span class="occ-letter opacity-0">y</span>
                            <span class="occ-letter opacity-0">s</span>
                            <span class="occ-letter opacity-0">t</span>
                            <span class="occ-letter opacity-0">e</span>
                            <span class="occ-letter opacity-0">m</span>
                            <div class="w-2 h-full"></div>
                            <span class="occ-letter opacity-0">E</span>
                            <span class="occ-letter opacity-0">n</span>
                            <span class="occ-letter opacity-0">g</span>
                            <span class="occ-letter opacity-0">i</span>
                            <span class="occ-letter opacity-0">n</span>
                            <span class="occ-letter opacity-0">e</span>
                            <span class="occ-letter opacity-0">e</span>
                            <span class="occ-letter opacity-0">r</span>
                            <span class="occ-letter opacity-0">.</span>
                            <span class="occ-letter opacity-0 animate-ping">|</span>
                        </div> 
        
                    </div>
                </div>

                
            </div>
            
            
            <Description/>
            
        </SectionIndex>
    </div>

    


<!-- <script>
   
    const delay = (ms: number)=>{
       return new Promise(resolve => setTimeout(resolve, ms))
    }

    const showLetters = async(occupation: Element)=>{
        const letters = occupation.querySelectorAll('.occ-letter')

        const reversedLetters = [...letters].reverse()

        for (const letter of letters){
            letter.classList.remove('opacity-0')
            await delay(100)
        }    

        await delay(8000)

        for (const letter of reversedLetters){
            letter.classList.add('opacity-0')
            await delay(50)
        }
            
            
        
    }

    const showOcupations = async()=>{

        console.log('ejecutando animacion')
        const occupations = document.querySelectorAll('.occupation')
        
        for (const occupation of occupations){
            occupation.classList.remove('hidden')
            await showLetters(occupation)
            
            occupation.classList.add('hidden')
            const letters = occupation.querySelectorAll('.occ-letter')
            for (const letter of letters){
                letter.classList.add('opacity-0')
            } 
        }
        
    }

    const loopAnimations = async () => {


        while (true){
            
            await showOcupations()
        }
        
    }

    loopAnimations()

    // document.addEventListener('astro:after-swap',loopAnimations)

    
</script> -->