---
import Logo from '@icons/logo.astro';
import Github from '@icons/github.astro';
import Linkdin from '@icons/linkdin.astro';
import Mail from '@icons/mail.astro';
import VerticalLine from '@icons/vertical-line.astro';
import SectionIndex from './SectionIndex.astro';

const SOCIALS = [
    {
        name: 'Github',
        link: '/',
        icon: Github

    },
    {
        name: 'Linkdin',
        link: '/',
        icon: Linkdin
    },
    {
        name: 'Mail',
        link: '/', 
        icon: Mail
    }
] as const;
---

<SectionIndex>
    <div>
        <h1 class="text-4xl font-normal">
            Fullstack<br/>Developer. 
        </h1>
        <ul class="flex gap-2 mt-3">
            {
                SOCIALS.map((option) => (
                    <li>
                        <a href={option.link} class="flex size-10 p-1">
                            <option.icon/>
                            
                        </a>
                    </li>
                ))
            }
        </ul>
    </div>
    <picture class="size-44">
        <Logo/>
    </picture>

    
    
    <div class="absolute h-72 w-full bottom-0 flex justify-center">
        <VerticalLine>
            scroll
        </VerticalLine>
    </div>
    
</SectionIndex>
