---
import SectionIndex from "@components/SectionIndex.astro";
import sendmeMockup from "@images/sendme/sendme-mockup.avif"
import adminSendmeMockup from "@images/adminSendme/adminSendme-mockup.avif"
import syncroMockup from '@images/syncro/syncro-mockup.avif'
import syncroVideo from '/videos/Syncro-Mockup-Video.webm'
import {Mockups} from '@components/Mockups'

export const PROJECTS = [
    
    {
        dataId: '1',
        title: 'syncro - Inventory App',
        description: 'Financed Sales & Inventory App. created using Python and PostgreSQL',
        mockup: syncroMockup.src,
        teckStack: ['node.js', 'express.js', 'sqlite', 'turso DB', 'react.js'],
        style: 'col-span-4 row-span-2',
        video: syncroVideo,
        options: [
            {
                
                icon: 'github',
                link: 'https://github.com/faOC20/syncro-frontend'

               
            },
            {
                
                icon: 'link',
                link: '/project/syncro'
                
            },
            {
                
                icon: 'info',
                link: '/project/syncro'
                
            }
        ]

    },

    {
        dataId: '2',
        title: 'sendme - App integrated with Amazon API',
        description: 'Created from scratch, using React and Tailwind CSS, Integrated with a backend based on Node JS and SQLite',
        mockup: sendmeMockup.src,
        info: '/project/syncro',
        style: 'col-span-2',
        teckStack: ['javascript', 'react.js', 'tailwind.css', 'node.js', 'sqlite'],
        options: [
            {
                
                icon: 'github',
                link: 'https://github.com/faOC20/sendme-front-react'

               
            },
            {
                
                icon: 'link',
                link: 'https://sendme-rho.vercel.app/'
                
            },
            {
                
                icon: 'info',
                link: '/project/sendme'
                
            }
        ]

    },
    
    {
        dataId: '3',
        title: 'admin sendme - Administration App',
        info: '/project/syncro',
        description: 'Order management app, turso database implementation. created using Node JS and SQlite',
        mockup: adminSendmeMockup.src,
        style: 'col-span-2',
        teckStack: ['node.js', 'express.js', 'sqlite', 'turso DB', 'react.js'],
        options: [
            // {
               
            //     icon: 'github',
            //     link: '/project/syncro'

               
            // },
            {
              
                icon: 'info',
                link: '/project/admin-sendme'
                
            }
        ]

    },

        
]
---



<div id="projects-container" class="">
    <!-- <div class="absolute inset-0 -z-10 h-full w-full  bg-theme-primary-blue bg-[linear-gradient(to_right,#3F3F3F_1px,transparent_1px),linear-gradient(to_bottom,#3F3F3F_1px,transparent_1px)] bg-[size:20rem_12rem]"></div> -->
    <SectionIndex style="grid grid-cols-6 grid-rows-2 gap-7 py-10">
        
    {
        PROJECTS.map((project)=>(
            <Mockups client:idle mockup={project}/>
        ))
    }
</SectionIndex>
</div>
            