---
interface Props {
    style: string
}

const {style} = Astro.props
---


<section class={`bg-gray-[200/60] dark:bg-[#151515] border border-white/3 overflow-hidden  rounded-xl shadow-[0_0_3px_-0.5px_rgba(255,255,255,0.1)] size-full px-10 relative ${style}`}>
    <slot/>
</section>