---
interface Props {
    style: string
}

const {style} = Astro.props
---


<section class={`bg-gray-[200/60]  dark:bg-[#151515]/10 border border-theme-coal-black/20 dark:border-white/10 overflow-hidden shadow  rounded-xl  dark:shadow-[0_0_3px_-0.5px_rgba(255,255,255,0.1)] size-full px-10 relative ${style}`}>
    <slot/>
</section>