---
interface Props {
    style: string
}

const {style} = Astro.props
---


<section class={`flex justify-center relative w-lg text-theme-gray dark:text-theme-gray-light ${style}`}>
    <slot/>
</section>