---
import '@styles/global.css'
import ClientRouter from 'astro/components/ClientRouter.astro'
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="algolia-site-verification"  content="1C8C834339487A04" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Fabian Ortiz - Portolio</title>
		<ClientRouter/>
	</head>

	
	<body class="overflow-hidden">
		<div class="absolute top-0 z-[-2] h-[300vh] w-screen bg-theme-coal-black bg-[radial-gradient(100%_50%_at_50%_0%,rgba(0,163,255,0.13)_0,rgba(0,163,255,0)_50%,rgba(0,163,255,0)_100%)]"></div>

		<div class="absolute w-full h-full bg-[url('https://framerusercontent.com/images/rR6HYXBrMmX4cRpXfXUOvpvpB0.png')] bg-repeat bg-[length:128px] opacity-6 rounded-none"></div>

		<!-- <Header/> -->
		<main>
			<slot />
		</main>
		
	</body>
</html>

<style is:global>
	main{
		padding: 3.8rem;
		gap: 2rem;
		min-height: 100vh;	
		display: grid;
		grid-template-areas: 
		'toolset hero hero social experience'
		'projects projects projects projects contact'
		'projects projects projects projects contact'
		;
		grid-template-columns: 20rem 18rem 18rem 18rem auto;
		grid-template-rows: 20rem 10rem 20rem;
	}

	#hero{
		grid-area: hero;
	}

	#projects-container{
		grid-area: projects;
	}

	#toolset{
		grid-area: toolset;
	}

	#contact{
		grid-area: contact;
	}

	#socials{
		grid-area: social;
	}

	#experience{
		grid-area: experience;
	}
</style>





