---
import '@styles/global.css'
import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'
import { ClientRouter} from 'astro:transitions'
---

<!doctype html>
<html lang="es">
	<head>
		
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Fabian Ortiz - Portolio</title>
		<ClientRouter/>
	</head>

	
	<body class="overflow-x-hidden">
		<div class="absolute top-0 z-[-2] h-[300vh] w-screen bg-theme-coal-black bg-[radial-gradient(100%_50%_at_50%_0%,rgba(0,163,255,0.13)_0,rgba(0,163,255,0)_50%,rgba(0,163,255,0)_100%)]"></div>

		<div class="absolute w-full h-full bg-[url('https://framerusercontent.com/images/rR6HYXBrMmX4cRpXfXUOvpvpB0.png')] bg-repeat bg-[length:128px] opacity-6 rounded-none"></div>
		<Header/>
		<slot />
		<!-- <Footer/> -->
	</body>
</html>


<style is:global>
    body{
		min-height: 100vh;
		padding-left: 17rem;
		padding-right: 17rem;
		padding-bottom: 5rem;
		display: grid;
		grid-template-areas: 
		"header header header"
		"nav main sidebar"
		"footer footer footer"
		;
		grid-template-columns: 15rem 1fr 14rem;
		grid-template-rows: auto 1fr 10rem;
    }

	#header{
		grid-area: header;
		margin-bottom: 9rem;
	}

	#project-nav{
		grid-area: nav;
		
	}

	#project-main{
		grid-area: main;
		padding-left: 7rem;
		padding-right: 7rem;
	}

	#project-footer{
		grid-area: footer;
		
	}

	#sidebar{
		grid-area: sidebar;	
	}

</style>





